* {
    box-sizing: border-box;
}

/* variables for colors */
:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

/* is used for center containers with elements */
.container {
    width: 1352px;
    margin: 0 auto;
}

/* body */

body {
    min-height: 200vh;
}

/* Section Logo + nav*/
  
.header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    z-index: 99;
}

/* menu */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* menu Logo */

.menu__logo {
    font-size: 32px;
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-weight: light;
    text-decoration: none;
}

  /* section menu nav */

.menu__nav {}

.menu__nav--text li {
    display: inline-block;
    margin: 0 15px 0 15px;
    list-style: none;
    line-height: 70px;
}

.menu__nav--text li:last-child {
    margin-right: 0;
}

.menu__nav--text a {
    padding: 25px;
    font-family: var(--font-open-sans);
    color: var(--color-grey);
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.menu__nav--text a:hover {
    color: var(--color-black);
    border-bottom: 3px solid var(--color-primary);
}

/* HEADER Opening */

.opening__container {
    height: 720px;
}

.opening__content {
    margin-top: 200px;
    text-align: center;
    color: var(--color-black);
}

.content__title {
    margin-bottom: 20px;
}

.content__text {
    margin-bottom: 52px;
}

.title--h1 {
    font: normal normal normal 49px/57px Raleway;
}

.text--p {
    font: normal normal normal 16px/22px Open Sans;
    color: var(--color-black);
}

.content__btn--big {
    padding: 22px 155px;
    text-decoration: none;
}

.content__btn--edit {
    color: var(--color-white);
    background: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    font-weight: bold;
}


/* SECTION opening img */

.content__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/* SECTION Statistics */

.statistics__title {
    margin: 100px 0;
}

.title--h2 {
    font: normal normal normal 36px/42px Raleway;
    color: var(--color-black);
    /* border: 2px solid black; */
}

/* SECTION Statistics */

.statistics__box {
    display: flex;
    justify-content: center;
}

.element--circle {
    display: flex;
    width: 63px;
    height: 63px;
    background-color: var(--color-redish);
    border-radius: 50%;
    margin-bottom: 15px;
}

.circle--color {
    background-color: var(--color-primary);
}

.circle--color2 {
    background-color: var(--color-green);
}

.element__person {
    position: relative;
    left: 50%;
}

.element__entries {
    margin-bottom: 50px;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 6px;
}

.element__text {
    font: normal normal normal 17px/20px Raleway;
    color: var(--color-grey);
}

.statistics__box--elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 167px;
    width: 125px;
    text-align: center;
    margin-bottom: 120px;
}

.elements--margin {
    margin-right: 200px;
}

.elements--margin2 {
    margin-left: 200px;
}

/* SECTION Benefits part 1*/

.benefits {
    background-color: var(--color-light-grey);
    padding: 100px 0;
}

.benefits__container {
    display: flex;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background-color: #fff;
    width: 1124px;
    height: 370px;
    margin-bottom: 38px;
}

.benefits__content {
    position: relative;
    width: 416px;
    height: 188px;
    margin: 91px 169px 91px 35px;
}

.benefits__content::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 330px;
    background-color: var(--color-redish);
}

.benefits__text {
    margin-top: 30px;
    margin-bottom: 50px;
}



/* Benefits img Macbook*/

.benefits__macbook {
    position: relative;
    width: 433px;
    height: 294px;
    margin: 38px 71px 0 0;
}



.content__macbook--img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 219px;
}

.macbook--square::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 55%;
    width: 160px;
    height: 160px;
    border-radius: 40px;
    background-color:var(--color-redish);
    transform: rotate(45deg);
}

/* SECTION Benefits second part iphone */

.benefits__content--edit {
    height: 230px;
    margin: 69px 20px 0 192px;
}

.benefits__content--edit::before {
    background-color: var(--color-primary);
}

/* img Iphone */

.content__iphone--img {
    width: 436px;
    height: auto;
    margin-top: 19px;
}

.iphone__container {
    position: relative;
    width: 426px;
    margin-left: 70px;
}

.benefits__iphone, .content__iphone--img::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    width: 320px;
    height: 320px;
    background: var(--color-primary);
    border-radius: 50%;
}

/* SECTION double */

.benefits__double {
    display: flex;
    justify-content: space-between;
    width: 1124px;
    margin: 0 auto;
}

.benefits__double--content {
    position: relative;
    flex-direction: column;
    width: 620px;
    padding: 70px 35px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background-color: #fff;
    height: 370px;
}

.benefits__double--elements {
    position: relative;
    width: 550px;
    height: 230px;
}

.benefits__double--image {
    background-color: var(--color-green);
    width: 440px;
    height: 370px;
    border-radius: 5px;
}

.benefits__double--image img {
    height: 200px;
    margin-left: 60px;
    margin-top: 98px;
}

.benefits__double--elements::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 3px;
    width: 330px;
    background-color: var(--color-green);
}