/* SECTION Benefits part 1*/

.benefits {
    background-color: var(--color-light-grey);
    padding: 100px 0;
}

.benefits__container {
    display: flex;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background-color: #fff;
    max-width: 1124px;
    height: 370px;
    margin-bottom: 38px;
}

.benefits__content {
    position: relative;
    width: 416px;
    height: 188px;
    margin: 91px 169px 91px 35px;
}

.benefits__content::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 330px;
    background-color: var(--color-redish);
}

.benefits__text {
    margin-top: 30px;
    margin-bottom: 50px;
}



/* Benefits img Macbook*/

.benefits__macbook {
    position: relative;
    width: 433px;
    height: 294px;
    margin: 38px 71px 0 0;
}



.content__macbook--img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 219px;
}

.macbook--square::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 55%;
    width: 160px;
    height: 160px;
    border-radius: 40px;
    background-color: var(--color-redish);
    transform: rotate(45deg);
}

/* SECTION Benefits second part iphone */

.benefits__content--edit {
    height: 230px;
    margin: 69px 20px 0 192px;
}

.benefits__content--edit::before {
    background-color: var(--color-primary);
}

/* img Iphone */

.content__iphone--img {
    width: 436px;
    height: auto;
    margin-top: 19px;
}

.iphone__container {
    position: relative;
    width: 426px;
    margin-left: 70px;
}

.benefits__iphone,
.content__iphone--img::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    width: 320px;
    height: 320px;
    background: var(--color-primary);
    border-radius: 50%;
}

/* SECTION double */

.benefits__double {
    display: flex;
    justify-content: space-between;
    width: 1124px;
    margin: 0 auto;
}

.benefits__double--content {
    position: relative;
    flex-direction: column;
    width: 620px;
    padding: 70px 35px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background-color: #fff;
    height: 370px;
}

.benefits__double--elements {
    position: relative;
    width: 550px;
    height: 230px;
}

.benefits__double--image {
    background-color: var(--color-green);
    width: 440px;
    height: 370px;
    border-radius: 5px;
}

.benefits__double--image img {
    height: 200px;
    margin-left: 60px;
    margin-top: 98px;
}

.benefits__double--elements::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 3px;
    width: 330px;
    background-color: var(--color-green);
}